.logo-container {
    position: absolute;
    align-items: center;
    height: 20%;
    width: 20%;
    right: 0rem;
    display: flex;
  }
  
  .text-container {
    margin-right: 2rem;
  }
  
  .logo-image {
    max-width: 100%;
    height: auto;
  }

